*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #eff2f7;
}

.principal {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(46, 44, 44, 0.1);
    height: 50rem;
    width: 46rem;
    // margin: 35% auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;

    label {
        display: block;
    }

    &__imagem {
        height: 45%;
    }

    img {
        height: 90%;
    }

    &__formulario {
        background-color: cyan;
        height: 45%;
    }

    &__senha {
        background-color: darkgoldenrod;
        height: 10%;
        position: relative;
    }
}

.usuario {
    background-color: brown;
    height: 40%;
    position: relative;
}

.senha {
    background-color: chartreuse;
    height: 40%;
    position: relative;
}

.botao {
    background-color: darkorchid;
    height: 20%;
    position: relative;
}

.teste {
    background-color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
