*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #eff2f7;
}

.principal {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(46, 44, 44, 0.1);
    height: 50rem;
    width: 46rem;
    // margin: 35% auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 500;

    label {
        display: block;
        margin-bottom: 1rem;
    }

    input {
        padding: 0.7rem;
        width: 100%;
        font: inherit;
        border-radius: 0.3rem;
        border: 1px solid #ccc;
    }

    &__imagem {
        height: 45%;
    }

    img {
        height: 90%;
    }

    &__formulario {
        height: 45%;
    }

    &__senha {
        height: 10%;
        position: relative;
    }
}

.usuario {
    height: 40%;
    position: relative;
}

.senha {
    height: 40%;
    position: relative;
}

.botao {
    height: 20%;
    position: relative;
}

.teste {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}

.teste2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 80%;

    button {
        height: 100%;
        width: 100%;
        color: white;
        background-color: #556ee6;
        border-color: #556ee6;
        border-radius: 0.5rem;
    }
}
