*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

body {
  box-sizing: border-box;
  background-color: #eff2f7; }

.conteudo {
  color: #4d4d4d;
  height: 63rem;
  width: 46rem;
  position: relative;
  margin: 10rem auto; }

.principal {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 2rem rgba(126, 126, 126, 0.1);
  height: 85%;
  position: relative; }
  .principal__imagem {
    height: 40%;
    width: 95%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .principal__imagem img {
      width: 100%; }
  .principal__formulario {
    height: 55%;
    width: 95%;
    background-color: wheat;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%); }

.rodape {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%; }
  .rodape p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #3f3e3e;
    font-weight: 400; }
