*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

body {
  box-sizing: border-box;
  background-color: #eff2f7; }

.conteudo {
  height: 55rem;
  width: 46rem;
  position: relative;
  margin: 8rem auto; }

.principal {
  box-shadow: 0 1rem 4rem rgba(112, 112, 112, 0.3);
  border-radius: 0.8rem; }
  .principal__imagem {
    width: 100%;
    height: 30%; }
    .principal__imagem img {
      width: 100%; }
  .principal__formulario {
    position: relative;
    padding: 0 2.5rem; }
    .principal__formulario .usuario {
      margin-bottom: 1.5rem; }
      .principal__formulario .usuario--label {
        padding: 0.6rem 0;
        font-size: 1.6rem;
        font-weight: 600; }
      .principal__formulario .usuario--input input {
        padding: 0.5rem;
        font-size: 1.6rem;
        border: 0.1rem solid #707070;
        border-radius: 0.3rem;
        width: 100%; }
    .principal__formulario .senha {
      margin-bottom: 3rem; }
      .principal__formulario .senha--label {
        padding: 0.6rem 0;
        font-size: 1.6rem;
        font-weight: 600; }
      .principal__formulario .senha--input input {
        padding: 0.5rem;
        font-size: 1.6rem;
        border: 0.1rem solid #707070;
        border-radius: 0.3rem;
        width: 100%; }
    .principal__formulario .botao button {
      padding: 0.5rem;
      font-size: 1.5rem;
      color: white;
      background-color: cornflowerblue;
      border-color: cornflowerblue;
      border-radius: 0.3rem;
      height: 100%;
      width: 100%; }
    .principal__formulario--esqueceu {
      margin: 3rem 0;
      font-size: 1.4rem;
      padding-bottom: 2.5rem;
      text-align: center; }

.rodape {
  position: absolute;
  padding: 2rem;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400; }
  .rodape p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
